<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h1> Your Favorite Routes </h1>
<% for (var i=0; i < routes.length; i++) { %>
<li>
<%=routes[i].origin%> -->
<%=routes[i].destination%>
</li>
<% } %>
</body>
</html>

