<!DOCTYPE html>
<html>
<head>
	<title>Posts</title>
</head>
<body>
<h1>Posts</h1>
<ul>
<% for (var i = 0; i < posts.length; i++) { %>
	<li> 
	<a href="/posts/<%= posts[i].id %>"><%=posts[i].title %></a>
	</li>
<% } %>
</body>
</html>